body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  max-height: 150px; /* Ajustez la taille de l'image selon vos besoins */
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: #fff; /* Ajustez la couleur selon vos besoins */
}

.centered {
  text-align: center;
}

.hero {
  position: relative;
  background-image: url('../images/header.jpg'); 
  background-size: cover; 
  background-position: center; 
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(232, 155, 155, 0.5); /* Rouge avec une opacité de 0.5 */
  z-index: 1;
}

.hero h1 {
  border-radius: 30px;
  position: relative; /* Ajoutez cette ligne */
  z-index: 2;
  font-size: 2.5rem;
  background: rgba(0, 0, 0, 0.6);
  padding: 1rem 2rem;
}

.search {
  padding: 2rem;
  background-color: rgb(26, 26, 26);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 800px;
  width: 90%;
  border-radius: 20px;
}

#searchBar {
  width: 95%;
  padding: 1rem;
  background-color: #0000;
  color: #ffff;
  font-size: large;
  border-bottom: 0px solid #ccc;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.filters {
  display: flex;
  gap: 1rem;
  color: #fff;
}

.filters label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  color: #fff;
  max-width: 1200px;
  width: 100%;
  margin: 2rem auto;
}

.card {
  background: rgb(26, 26, 26);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h2 {
  padding: 1rem;
  font-size: 1.25rem;
}

.recipe-modal {
  z-index: 4;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgb(26, 26, 26);
  padding: 2rem;
  max-width: 600px;
  width: 90%;
  border-radius: 8px;
}

.close-button {
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
  float: right;
}

.modal-content img {
  width: 100%;
  margin-bottom: 1rem;
}

#recipeIngredients {
  list-style-type: disc;
  padding-left: 1rem;
}